<!DOCTYPE html>
<html>
<head>
  <title>Covid 19 Tracker | Habits</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" href="static/css/ham-menu.css">

  <link rel="stylesheet" type="text/css" href="static/css/habits.css">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">

</head>
<body>

	<!-- Navigation Start -->	
      <nav id="hamnav" class="zone pop bluee sticky">
        <ul class="main-nav">
          <div class="nav-brand1">
            <li><a href="">COVID-19</a></li>
          </div>
        <!-- [THE HAMBURGER] -->
        <label for="hamburger" style="">&#9776;</label>
        <input type="checkbox" id="hamburger"/>
        <!-- [MENU ITEMS] -->
        
          <div id="hamitems" class="navbar-right">
            <li><a href="index.html">Tracker</a></li>
            <li><a href="symptoms.html">Symptoms</a></li>
            <li><a href="prevention.html">Prevention</a></li>
            <li><a href="habits.html">Habits</a></li>
            <li><a href="news.html">News Trend</a></li>
          </div>

        </ul>
      </nav>
  <!-- Navigation End -->
<br>
<br>
<br>
<br>
  <div class="header">
    <h1>COVID-19 Tracker</h1>
  </div>

  <section class="habits">
        <h2>Healthy Habits</h2>
        <h3>
            There's never been a better time to build healthy and long-lasting habits.
            We can all emerge from this crisis stronger and better.
        </h3>

        <div class="habits__container">
            <div class="habits__card">
                <div class="habits__face habits__face--face1">
                    <div class="habits__content">
                        <img src="static/img/yoga-color.png" alt="">
                        <h3>Meditate</h3>
                    </div>
                </div>
                <div class="habits__face habits__face--face2">
                    <div class="habits__content">
                        <p>Meditation trains a part of your brain that's responsible for willpower and self control. This means you are able to control better your emotions, you can focus better and longer. Also provides a sense of general well-being, really important nowadays</p>
                    </div>
                </div>
            </div>

            <div class="habits__card">
                <div class="habits__face habits__face--face1">
                    <div class="habits__content">
                        <img src="static/img/book-color.png" alt="">
                        <h3>Read a book</h3>
                    </div>
                </div>
                <div class="habits__face habits__face--face2">
                    <div class="habits__content">
                        <p>
                            Reading financial education books would give you a better understanding about the current world situation. It would teach you about the best things you can do to improve your financial situation or any other area of your life.

                        </p>
                    </div>
                </div>
            </div>
            <div class="habits__card">
                <div class="habits__face habits__face--face1">
                    <div class="habits__content">
                        <img src="static/img/gym-color.png" alt="">
                        <h3>Exercise</h3>
                    </div>
                </div>
                <div class="habits__face habits__face--face2">
                    <div class="habits__content">
                        <p>Who doesn't want to look sexy and fit, even in pajamas and wearing crocs. Exercise at home can be a great way to relief all the tension and uncertainty you may be feeling right now. Your overall mood will be a lot better</p>
                    </div>
                </div>
            </div>

            <div class="habits__card">
                <div class="habits__face habits__face--face1">
                    <div class="habits__content">
                        <img src="static/img/cooking.png" alt="">
                        <h3>Cooking</h3>
                    </div>
                </div>
                <div class="habits__face habits__face--face2">
                    <div class="habits__content">
                        <p>Remember that advice about eating as healthy as you can? Well
                            if you are able to make your own meals, having a good diet will be a piece of cake, and you can save some money too. You can also have a great time cooking
                        </p>
                    </div>
                </div>
            </div>
            <div class="habits__card">
                <div class="habits__face habits__face--face1">
                    <div class="habits__content">
                        <img src="static/img/guitar.png" alt="">
                        <h3>Learn something new</h3>
                    </div>
                </div>
                <div class="habits__face habits__face--face2">
                    <div class="habits__content">
                        <p>Getting into something new is always fun, you can enjoy discovering things you love doing. It could be playing an instrument, painting, make sick-looking drawings, or getting a new skill that can get you some money. More on that later</p>
                    </div>
                </div>
            </div>

            <div class="habits__card">
                <div class="habits__face habits__face--face1">
                    <div class="habits__content">
                        <img src="static/img/laptop.png" alt="">
                        <h3>Sharpening Yourself</h3>
                    </div>
                </div>
                <div class="habits__face habits__face--face2">
                    <div class="habits__content">
                        <p>Pick up a new skill that could make you money even during this period of uncertainty. Something that is recession-proof and could be done remotely. And you know what recession is because you have been reading about it, don't you? </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="habits__disclaimer">
            <h4>Disclaimer:</h4>
            These are for informational purposes only. I recommend to build two to three habits at once even if you have time for more. Prioritize the habits that can help you the most right now.
        </div>
    </section>


  <footer class="bluee">
        <div class="footer__quote">
            <p>
                Because even though the world is on pause,
                you don't have to be
            </p>
            
            <div class="footer__credits">
                Made by <a href="https://krishashah911.github.io/krisha-portfo/" target="_blank">Krisha Shah</a>
                <p class="footer__copy">Visit <a href="https://github.com/krishashah911"><u>Github</u></a></p>
            </div>
        </div>

        <div class="footer__form">
            <form action="submit_form" method="post"><input type="hidden" name="form-name" value="form 1">

                <label>
                    Get more advices and tips to make the best out of this situation
                </label>
                <input name="name" type="text" required="" placeholder="Name">
                <input name="email" type="email" required="" placeholder="Your Email">
                <input name="msg" type="text" required="" placeholder="Message">
                <input type="submit" value="Submit">

            </form>
        </div>
  </footer>

</body>
</html>
