<!DOCTYPE html>
<html>
<head>
  <title>Covid 19 Tracker | Prevention</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" href="static/css/ham-menu.css">

  <link rel="stylesheet" type="text/css" href="static/css/habits.css">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">

</head>
<body>

	<!-- Navigation Start -->	
      <nav id="hamnav" class="zone pop bluee sticky">
        <ul class="main-nav">
          <div class="nav-brand1">
            <li><a href="">COVID-19</a></li>
          </div>
        <!-- [THE HAMBURGER] -->
        <label for="hamburger" style="">&#9776;</label>
        <input type="checkbox" id="hamburger"/>
        <!-- [MENU ITEMS] -->
        
          <div id="hamitems" class="navbar-right">
            <li><a href="index.html">Tracker</a></li>
            <li><a href="symptoms.html">Symptoms</a></li>
            <li><a href="prevention.html">Prevention</a></li>
            <li><a href="habits.html">Habits</a></li>
            <li><a href="news.html">News Trend</a></li>
          </div>

        </ul>
      </nav>
  <!-- Navigation End -->
<br>
<br>
<br>
<br>
  <div class="header">
    <h1>COVID-19 Tracker</h1>
  </div>

<section class="habits">
        <h2>Prevention</h2>
        <div class="jss334">
          <h3>
            There's currently no vaccine to prevent coronavirus disease (COVID-19). So, take the necessary preventive measures.
          </h3>
        </div>

        <div class="habits__container">
            <section>    
                <div class="advices__box">
                    <div class="advices__content">
                        <img src="static/img/hand-wash.png" alt="">
                        <p>Wash your hands often with soap and water. Let me see that lather</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="advices__box">
                    <div class="advices__content">
                        <img src="static/img/distance.png" alt="">
                        <p>If you really have to go outside, maintain 6ft distance</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="advices__box">
                    <div class="advices__content">
                        <img src="static/img/mask.png">
                        <p>Wear a mask while going outside. Gloves would be perfect add on.</p>
                    </div>
                </div>
            </section>
            <section>    
                <div class="advices__box">
                    <div class="advices__content">
                        <img src="static/img/stay-at-home.png" alt="">
                        <p>Stay home, stay safe. It's the only thing you can control</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="advices__box">
                    <div class="advices__content">
                        <img src="static/img/cold.png" alt="">
                        <p>When coughing or sneezing, cover your mouth and nose with the inner part of your elbow or some tissue</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="advices__box">
                    <div class="advices__content">
                        <img src="static/img/coronavirus.png" alt="">
                        <p>I know, I know, you are so handsome you can not keep your hands off you. But please, avoid touching your eyes, nose and mouth
                </p>
                    </div>
                </div>
            </section>
            <section>    
                <div class="advices__box">
                    <div class="advices__content">
                        <img src="static/img/diet.png" alt="">
                        <p>We are what we eat. While you are in lockdown, eat as healthy as you can</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="advices__box">
                    <div class="advices__content">
                        <img src="static/img/flight.png" alt="">
                        <p>Avoid travel if you have symptoms, I mean, these are not vacations!</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="habits__disclaimer">
            <br>
            <br>
            <h4>Disclaimer:</h4>
            These are for informational purposes only.
        </div>
</section>


  <footer class="bluee">
        <div class="footer__quote">
            <p>
                Because even though the world is on pause,
                you don't have to be
            </p>
            
            <div class="footer__credits">
                Made by <a href="https://krishashah911.github.io/krisha-portfo/" target="_blank">Krisha Shah</a>
                <p class="footer__copy">Visit <a href="https://github.com/krishashah911"><u>Github</u></a></p>
            </div>
        </div>

        <div class="footer__form">
            <form action="submit_form" method="post"><input type="hidden" name="form-name" value="form 1">

                <label>
                    Get more advices and tips to make the best out of this situation
                </label>
                <input name="name" type="text" required="" placeholder="Name">
                <input name="email" type="email" required="" placeholder="Your Email">
                <input name="msg" type="text" required="" placeholder="Message">
                <input type="submit" value="Submit">

            </form>
        </div>
  </footer>

</body>
</html>
