<!DOCTYPE html>
<html>
<head>
  <title>Covid 19 Tracker | Symptoms</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" href="static/css/ham-menu.css">

  <link rel="stylesheet" type="text/css" href="static/css/habits.css">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">

</head>
<body>

	<!-- Navigation Start -->	
      <nav id="hamnav" class="zone pop bluee sticky">
        <ul class="main-nav">
          <div class="nav-brand1">
            <li><a href="">COVID-19</a></li>
          </div>
        <!-- [THE HAMBURGER] -->
        <label for="hamburger" style="">&#9776;</label>
        <input type="checkbox" id="hamburger"/>
        <!-- [MENU ITEMS] -->
        
          <div id="hamitems" class="navbar-right">
            <li><a href="index.html">Tracker</a></li>
            <li><a href="symptoms.html">Symptoms</a></li>
            <li><a href="prevention.html">Prevention</a></li>
            <li><a href="habits.html">Habits</a></li>
            <li><a href="news.html">News Trend</a></li>
          </div>

        </ul>
      </nav>
  <!-- Navigation End -->
<br>
<br>
<br>
<br>
  <div class="header">
    <h1>COVID-19 Tracker</h1>
  </div>

<section class="habits">
        <h2>Symptoms</h2>
        <div class="jss333">
          <h3>
            On average it takes 5-14 days from when someone is infected with the virus for symptoms to show. COVID-19 affects different people in different ways. Most infected people will develop mild to moderate symptoms.
          </h3>
        </div>

        <div class="habits__container">
            <div class="habits__card">
                <div class="symptoms_face symptoms_face--face1">
                    <div class="habits__content">
                        <img src="static/img/fever.png" alt="">
                        <h3>&nbsp;&nbsp;&nbsp;Fever&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                    </div>
                </div>
            </div>
            <div class="habits__card">
                <div class="symptoms_face symptoms_face--face1">
                    <div class="habits__content">
                        <img src="static/img/tiredness.png" alt="">
                        <h3>Tiredness&nbsp;&nbsp;&nbsp;</h3>
                    </div>
                </div>
            </div>
            <div class="habits__card">
                <div class="symptoms_face symptoms_face--face1">
                    <div class="habits__content">
                        <img src="static/img/cough.png" alt="">
                        <h3>Dry Cough </h3>
                    </div>
                </div>
            </div>
            <div class="habits__card">
                <div class="symptoms_face symptoms_face--face1">
                    <div class="habits__content">
                        <img src="static/img/diarrhea.png" alt="">
                        <h3>&nbsp;&nbsp;&nbsp;Diarrhea </h3>
                    </div>
                </div>
            </div>
            <div class="habits__card">
                <div class="symptoms_face symptoms_face--face1">
                    <div class="habits__content">
                        <img src="static/img/headache.png" alt="">
                        <h3> Headache&nbsp;&nbsp;&nbsp;</h3>
                    </div>
                </div>
            </div>
            <div class="habits__card">
                <div class="symptoms_face symptoms_face--face1">
                    <div class="habits__content">
                        <img src="static/img/sorethroat.png" alt="">
                        <h3>Sore Throat</h3>
                    </div>
                </div>
            </div>
            <div class="habits__card">
                <div class="symptoms_face symptoms_face--face1">
                    <div class="habits__content">
                        <img src="static/img/breathing.png" alt="">
                        <h3> Shortness of
                        Breath</h3>
                    </div>
                </div>
            </div>
            <div class="habits__card">
                <div class="symptoms_face symptoms_face--face1">
                    <div class="habits__content">
                        <img src="static/img/vomiting.png" alt="">
                        <h3> &nbsp;&nbsp;&nbsp;&nbsp;Vomiting </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="habits__disclaimer">
            <br>
            <br>
            <h4>Disclaimer:</h4>
            These are for informational purposes only. I recommend to build two to three habits at once even if you have time for more. Prioritize the habits that can help you the most right now.
        </div>
    </section>


  <footer class="bluee">
        <div class="footer__quote">
            <p>
                Because even though the world is on pause,
                you don't have to be
            </p>
            
            <div class="footer__credits">
                Made by <a href="https://krishashah911.github.io/krisha-portfo/" target="_blank">Krisha Shah</a>
                <p class="footer__copy">Visit <a href="https://github.com/krishashah911"><u>Github</u></a></p>
            </div>
        </div>

        <div class="footer__form">
            <form action="submit_form" method="post"><input type="hidden" name="form-name" value="form 1">

                <label>
                    Get more advices and tips to make the best out of this situation
                </label>
                <input name="name" type="text" required="" placeholder="Name">
                <input name="email" type="email" required="" placeholder="Your Email">
                <input name="msg" type="text" required="" placeholder="Message">
                <input type="submit" value="Submit">

            </form>
        </div>
  </footer>

</body>
</html>
